<div class="row">
    <div class="col-lg-12">

        <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>
            <li><a href="https://github.com/login/strawberrygurl200/a775726ea2de764af6befef48dadc0773ab501e3386f44dfbec3b461358ba36ea6efb6b64180b3e5">GitHub</a></li>
        </ul>
        <p>&copy;2014 Lacy's Retail Stores Inc.</p>

    </div>
</div>
